.App {
  padding: 5rem;
  text-align: center;
  display: flex;
  gap: 1rem;
}

.container:nth-child(1) {
  width: 60%;
  flex: 0 0 60%;
}
.container:nth-child(2) {
  width: 40%;
  flex: 0 0 40%;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.row {
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {

}

.col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}